/* frontend/src/components/Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5; /* Um cinza claro */
  color: #333; /* Cor de texto padrão */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  color: #282c34; /* Cor escura para o título */
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}